{% extends 'base.html' %} 

{% block content %}

    <center>
        <h3>FAKULTAS KEGURUAN DAN ILMU PENDIDIKAN</h3>
        <img src="\static\images\logofkip.png" height="150px">
    </center>
    <p></p>
    <center>
        <h5 style="background-color: rgba(163, 110, 163, 0.43) ;">Sejarah</h5>
    </center>
    
    <p style="font-family: 'times new roman'">Fakultas Keguruan dan Ilmu Pendidikan (FKIP) Universitas Sultan Ageng Tirtayasa (Untirta) memiliki 18 program studi. Program studi FKIP terbanyak bidang pendidikan yang Untirta miliki tersebut paling banyak di minati pada Seleksi Nasional Masuk Perguruan Tinggi Negeri (SNMPTN), Seleksi Bersama Masuk Perguruan Tinggi Negeri (SBMPTN) menjadi fakultas yang paling banyak di minati oleh calon mahasiswa baru.</p>
    <p style="font-family: 'times new roman'">{{ gbrumum }}</p>
    <p style="font-family: 'times new roman'">FKIP Untirta sudah ada sejak lama pada awal berdiri FKIP Untirta memiliki dua program studi yakni Program Studi Administrasi Pendidikan (AdPend) dan Program Studi Pendidikan Luar Sekolah (PLS) dengan jenjang pendidikan Sarjana (S.1).</p>
    <p style="font-family: 'times new roman'">{{ gbrumum }}</p>
    <p style="font-family: 'times new roman'">FKIP Untirta terus berkembang sesuai dengan tuntutan masyarakat, sehingga FKIP Untirta kembali membuka program studi yakni Program Pendidikan Guru Taman Kanak-kanak (PGTK) pada 1994, dan beberapa tahun kemudian membuka kembali Program Studi Pendidikan Bahasa Inggris, Pendidikan Biologi dan Pendidikan Matematika. Program studi PGTK telah diubah menjadi Program Pendidikan Guru Pendidikan Anak Usia Dini (PGPAUD) dengan surat keputusan Menteri Pendidikan Nasional Nomor: 105/D/O/2010.</p>

    <center>
        <h5 style="background-color: rgba(163, 110, 163, 0.43);">Program Studi</h5>
    </center>
    
    <h6>Daftar Prodi :</h6>
    
    {% for judul in title %} 
    <li>{{ judul }}</li>
    {% endfor %}


{% endblock %}