<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">UNTIRTA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/profil/">Profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/feb/">FEB</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/fh/">FH</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/fisip/">FISIP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/fk/">FK</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/fkip/">FKIP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/fp/">FP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ft/">FT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pascasarjana/">Pascasarjana</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mahasiswa/">Mahasiswa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dosen/">Dosen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tendik/">Tendik</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>


  <style>

    li:hover{
        background-color: rgb(163, 110, 163, 0.43);
        cursor: pointer;
        transition: 0.5s;
    }

</style>