{% extends 'base.html' %} 

{% block content %}

    <center>
        <h3>FAKULTAS KEDOKTERAN</h3>
        <img src="\static\images\logountirta.png" height="150px">
    </center>
    <p></p>
    <center>
        <h5 style="background-color: rgba(163, 110, 163, 0.43) ;">Sejarah</h5>
    </center>
   
    <p style="font-family: 'times new roman'">Fakultas Kedokteran UNTIRTA merupakan fakultas baru di universitas Sultan Ageng Tirtayasa yang terbentuk sejak program studi pendidikan dokter disahkan berdasarkan SK Menteri Riset Teknologi dan Pendidikan Tinggi Republik Indonesia Nomor 283/KPT/I/2019. Program studi Kedokteran Untirta saat ini dibawah pengampuan FK UI.</p>
    <p style="font-family: 'times new roman'">{{ gbrumum }}</p>
    <p style="font-family: 'times new roman'">FK Untirta yang terdiri atas 5 Program Studi merupakan salah satu strategi untuk mendukung program kesehatan di Provinsi Banten. Program Studi ini bertujuan untuk menghasilkanntenaga dokter yang kompeten di tingkat nasional dan internasional. Program studi kedokteran Untirta merupakan langkah strategis dalam memperluas peran UNTIRTA pada masalah kesehatan yang dihadapi masyarakat Indonesia pada umumnya dan masyarakat banten pada khususnya.Program Studi Kedokteran UNTIRTA memperluas akses bagi putra dan putri terbaik lulusan SMA di Provinsi Banten.</p>
    <p style="font-family: 'times new roman'">{{ gbrumum }}</p>
    <p style="font-family: 'times new roman'">Adanya skema beasiswa ikatan dinas dari pemda setempat sehingga setelah selesai pendidikan, mereka akan mengikuti kontrak sesuai dengan pemberi beasiswa pemerintah sesuai dengan asal. Selain ikatan dinas, Program studi pendidikan dokter Untirta terbuka untuk Putra Putri terbaik di luar Provinsi Banten melalui jalur Mandiri.</p>

    <center>
        <h5 style="background-color: rgba(163, 110, 163, 0.43);">Program Studi</h5>
    </center>
    
    <h6>Daftar Prodi :</h6>
    
    {% for judul in title %} 
    <li>{{ judul }}</li>
    {% endfor %}


{% endblock %}